.about-image {
  background-size: 180%;
  background-repeat: no-repeat;
}

.page-title{
  transform: rotate(-90deg);
}

@media only screen and (min-width: 640px) {
  .page-title{
    transform: rotate(0);
  }
}