input::placeholder {
  color: black;
  font-style: italic;
}

.svg-arrow {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 5% bottom 45%;
  background-size: auto 1em;
  background-image: url("./media/down-arrow.png");
}

.svg-search {
  appearance: none;
  background-repeat: no-repeat;
  background-position: 97% 47%;
  background-size: auto 1.3em;
  background-image: url("./media/search.png");
}

