.highlightsPage{
    width: 100vw;
}

#titleHighlights {
    /* padding: 30px; */
}

.carousel {

}
.imagesCarousel {
    /* width: 300px; */
}

.titleAndImages {
    padding: 40px 40px 0px 40px;
    gap: 20px;
}
.imagesHighlights {
    width: 500px;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

.classImagesHighlights {
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.nameArtist{
padding-bottom: 80px;
}





/*********************** MEDIA QUERIES RESPONSIVE *********************/

@media screen and (max-width: 640px) {
    
}


@media screen and (min-width: 641px){
    .titleAndImages {
        /* padding: 40px 40px 0px 40px; */
        gap: 20px;
        display: flex;
        justify-content: center;
    }
    .carousel {
        max-width: 700px;
    }
}

/* @media screen and (min-width: 1024px) {

} */
