#titleHighlights {
    /* padding: 30px; */
}

.carousel {
    display: flex;
    justify-content: center;
}
.imagesCarousel {
    /* width: 300px; */
}

.imagesHighlights {
    width: 500px;
    height: 500px;
}

.classImagesHighlights {
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.nameArtist{
padding-bottom: 80px;
}





/*********************** MEDIA QUERIES RESPONSIVE *********************/

@media screen and (max-width: 640px) {
    
}


@media screen and (min-width: 641px){
    .titleAndImages {
        display: flex;
    }
    .imagesCarousel {
        max-width: 500px;    
    }
}

@media screen and (min-width: 1024px) {

}
