.hl-Title {
}

.hlListObjects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.hlObject1 {
  text-align: center;
}

.hlPictures {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 30px;
  max-width: 700px;
}

.hlDescription {
  font-size: 20px;
}
.hlNameArtist {
  padding-bottom: 20px;
}

/*********************** MEDIA QUERIES RESPONSIVE *********************/

@media screen and (max-width: 640px) {
  .hl-Title {
    font-size: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 640px) {
  .hl-Title {
    font-size: 100px;
    padding-top: 100px;
  }
}
