@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Unna:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --title-font: "Playfair Display", "serif";
  --text-font: "Unna", "Playfair Display", "serif";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--title-font);
}

button, p {
    font-family: var(--text-font);
}

.page-title{
    writing-mode:sideways-lr;
}
